.u-section-1 {
  min-height: 778px;
}

.u-section-1 .u-shape-1 {
  height: 580px;
  background-image: none;
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -510px auto 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 443px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 40px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 38px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 707px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  object-position: 50% 100%;
  width: 540px;
  height: 540px;
  background-image: url("images/528719310-0.jpeg");
  background-position: 50% 50%;
  margin: 80px auto 0 20px;
}

.u-section-1 .u-shape-2 {
  width: 114px;
  height: 114px;
  margin: -94px auto 0 97px;
}

.u-section-1 .u-image-2 {
  width: 57px;
  height: 57px;
  margin: -85px auto 0 126px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 710px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 640px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 951px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 604px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -164px;
    margin-right: 224px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: 253px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 879px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 474px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -190px;
    margin-right: 38px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 826px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 128px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 920px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 45px auto 45px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 830px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 567px;
  height: 567px;
  background-image: url("images/d79eca203f4ced63eff400ea0987271cb8c9280bdbf38f47da5b1bd1fd7a0bf510fa2862e29eabdf2f124873c6c83cae41ed3faa304451fc9ec133_1280.jpg");
  background-position: 50% 50%;
  margin: 0 32px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 405px;
  height: 405px;
  background-image: url("images/ccc-min.jpg");
  background-position: 50% 54.32%;
  margin: -314px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 244px;
  height: 244px;
  background-image: url("images/33f66d3f445ab020315ae28a4e02c8595b82b1fad00c41be940ccb6f8597c7f0c2919ee1e539b1375d366905af3b7f1f70bc036c8ce7520487fe8e_1280.jpg");
  background-position: 50% 50%;
  margin: -88px 190px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 114px;
  height: 114px;
  margin: -737px auto 0 27px;
}

.u-section-2 .u-shape-2 {
  width: 77px;
  height: 77px;
  margin: 409px 68px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 830px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  line-height: 25.6px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 774px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 14px;
  }

  .u-section-2 .u-image-2 {
    width: 303px;
    height: 303px;
    margin-top: -212px;
  }

  .u-section-2 .u-image-3 {
    width: 201px;
    height: 201px;
    margin-top: -98px;
    margin-right: 180px;
  }

  .u-section-2 .u-shape-1 {
    width: 102px;
    height: 102px;
    margin-top: -701px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 478px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 774px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-3 {
    line-height: 1.8;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: -4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-2 .u-image-1 {
    width: 422px;
    height: 422px;
    margin-top: 144px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 273px;
    height: 273px;
    margin-top: -173px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -55px;
    margin-right: 58px;
  }

  .u-section-2 .u-shape-1 {
    width: 76px;
    height: 76px;
    margin-top: -776px;
    margin-left: 9px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 405px;
    margin-right: 23px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 856px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: -190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1427px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 774px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 520px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 80px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -91px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -11px;
    margin-right: 23px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -788px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-3 .u-shape-1 {
  width: 938px;
  height: 910px;
  margin: 50px auto 0;
}

.u-section-3 .u-list-1 {
  width: 680px;
  margin: -842px auto 162px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  min-height: 730px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-3 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-3 .u-text-7 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-shape-1 {
    width: 909px;
    height: 806px;
    margin-top: 55px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: -739px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-3 .u-shape-1 {
    height: 722px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 619px;
    margin-top: -662px;
    margin-bottom: 120px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3 .u-shape-1 {
    height: 778px;
    width: 580px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-list-1 {
    width: 503px;
    margin-top: -718px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-3 .u-shape-1 {
    height: 506px;
    width: 422px;
    margin-left: -41px;
    margin-right: -41px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -483px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 982px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 40px 0 40px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 902px;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 50px 40px 35px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 26px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 52px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 902px;
}

.u-section-4 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-4 .u-shape-1 {
  width: 246px;
  height: 246px;
  margin: 9px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
  margin: -128px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  background-image: url("images/36bdd830d337d4cb1d049bf299df369fab70d81ed9086e3e55e4e7004fc3079b808d9083e3f9e3acd59f6fd5f33ef0001f44fc3e52b22bf7bdf562_1280.jpg");
  background-position: 50% 50%;
  margin: -139px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 114px;
  height: 114px;
  margin: -58px 134px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 865px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 55px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 865px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -137px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -27px;
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 811px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-4 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -74px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -6px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-4 .u-image-1 {
    width: 464px;
    height: 464px;
    margin-top: -170px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 272px;
    height: 272px;
    margin-top: -162px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -66px;
    margin-right: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-4 .u-shape-1 {
    width: 201px;
    height: 201px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -125px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -76px;
    margin-left: 10px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -20px;
    margin-right: 40px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 742px;
}

.u-section-5 .u-shape-1 {
  width: 626px;
  height: 626px;
  margin: 58px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -533px;
  margin-bottom: 151px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 434px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 30px 29px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 434px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 6rem;
  margin: 0 0 0 auto;
}

.u-section-5 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 230px;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-5 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 67px;
    margin-left: 0;
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -447px;
  }

  .u-section-5 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 120px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -247px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }
}